# Code owners are requested for review automatically on pull requests.
# See https://docs.github.com/en/repositories/managing-your-repos-settings-and-features/customizing-your-repository/about-code-owners

* @willemsevenster
